In [5]:
import pandas as pd
import numpy as np
import seaborn as sns

In [6]:
df = pd.read_csv(r"C:\Users\Ahammad Sahil\Desktop\SEM 2\GA\RK\NutrientStatusFarmerWise.csv",delimiter = '\t')
df.head(191)

,id,sample_no,farmername,LandArea,DagNo,SurveyNo,longitude,Latitude,pH,EC,OC,N,P,K,S,Zn,Fe,Cu,Mn,B
0,1,KL628508/2018-19/133011799,RAFEEK,0.05,0,0,76.872091,8.601069,7.3,0.13000 N,2.76000 VH,NaN,88.38000 H,232.51000 M,24.10000 S,2.15000 S,36.25000 S,1.49000 S,9.24000 S,0.58000 S
1,2,KL628508/2018-19/133209765,SABEENA,0.18,NaN,182,76.871945,8.600833,6.3,0.12000 N,0.71000 M,NaN,88.48000 H,56.00000 VL,1.15000 D,1.42000 S,25.03000 S,2.56000 S,8.65000 S,0.68000 S
2,3,KL628508/2018-19/133011799,ABDUL SALAAM,0.10,NaN,0,76.872091,8.601069,7.3,0.13000 N,2.76000 VH,NaN,88.38000 H,232.51000 M,24.10000 S,2.15000 S,36.25000 S,1.49000 S,9.24000 S,0.58000 S
3,4,KL628508/2018-19/133143015,OMANA G M,0.05,NaN,181,76.872091,8.601069,7.9,0.05000 N,1.56000 VH,NaN,49.39000 M,72.35000 L,12.75000 S,2.15000 S,50.19000 S,1.63000 S,6.38000 S,0.94000 S
4,5,KL628508/2018-19/132917797,BASHEER,0.15,4,187,76.876897,8.602396,7.3,0.08000 N,0.99000 H,NaN,94.24000 VH,160.50000 M,49.94000 S,1.77000 S,15.24000 S,2.41000 S,8.65000 S,0.68000 S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,193,KL628508/2018-19/137032800,VINITHA,0.12,NaN,Aug-57,76.877469,8.620079,5.6,0.14000 N,1.25000 VH,NaN,42.31000 M,178.39000 M,12.68000 S,2.15000 S,54.63000 S,1.36000 S,11.12000 S,1.62000 S
187,194,KL628508/2018-19/137036361,GLORY,0.05,NaN,113/7,76.877461,8.620087,6.9,0.42000 N,0.57000 M,NaN,46.22000 M,284.04000 M,42.12000 S,2.15000 S,36.54000 S,2.35000 S,16.34000 S,1.62000 S
188,195,KL628508/2018-19/137035420,SAJITHA,0.10,NaN,97/1,76.877464,8.620084,5.2,0.19000 N,1.76000 VH,NaN,36.47000 M,378.90000 H,14.22000 S,4.18000 S,36.54000 S,2.35000 S,8.26000 S,1.62000 S
189,196,KL628508/2018-19/137992490,RASIYA,0.04,NaN,96/4,76.877452,8.620099,6.2,0.14000 N,0.87000 H,NaN,36.58000 M,187.49000 M,16.85000 S,3.65000 S,47.23000 S,2.35000 S,12.18000 S,0.58000 S
190,197,KL628508/2018-19/137990793,AMBILI,0.05,NaN,121,76.877452,8.620090,5.8,0.12000 N,0.76000 H,NaN,24.52000 M,136.24000 L,8.69000 D,3.62000 S,42.18000 S,2.47000 S,6.23000 S,0.62000 S

In [6]:
df.tail()

,id,sample_no,farmername,LandArea,DagNo,SurveyNo,longitude,Latitude,pH,EC,OC,N,P,K,S,Zn,Fe,Cu,Mn,B
186,193,KL628508/2018-19/137032800,VINITHA,0.12,NaN,Aug-57,76.877469,8.620079,5.6,0.14000 N,1.25000 VH,NaN,42.31000 M,178.39000 M,12.68000 S,2.15000 S,54.63000 S,1.36000 S,11.12000 S,1.62000 S
187,194,KL628508/2018-19/137036361,GLORY,0.05,NaN,113/7,76.877461,8.620087,6.9,0.42000 N,0.57000 M,NaN,46.22000 M,284.04000 M,42.12000 S,2.15000 S,36.54000 S,2.35000 S,16.34000 S,1.62000 S
188,195,KL628508/2018-19/137035420,SAJITHA,0.10,NaN,97/1,76.877464,8.620084,5.2,0.19000 N,1.76000 VH,NaN,36.47000 M,378.90000 H,14.22000 S,4.18000 S,36.54000 S,2.35000 S,8.26000 S,1.62000 S
189,196,KL628508/2018-19/137992490,RASIYA,0.04,NaN,96/4,76.877452,8.620099,6.2,0.14000 N,0.87000 H,NaN,36.58000 M,187.49000 M,16.85000 S,3.65000 S,47.23000 S,2.35000 S,12.18000 S,0.58000 S
190,197,KL628508/2018-19/137990793,AMBILI,0.05,NaN,121,76.877452,8.620090,5.8,0.12000 N,0.76000 H,NaN,24.52000 M,136.24000 L,8.69000 D,3.62000 S,42.18000 S,2.47000 S,6.23000 S,0.62000 S

In [14]:
df.shape

(191, 20)

In [7]:
df.describe()

               id    LandArea   longitude    Latitude          pH    N
count  191.000000  178.000000  191.000000  191.000000  191.000000  0.0
mean   101.780105    0.120843   76.874017    8.608027    6.772775  NaN
std     55.659244    0.108539    0.002557    0.010793    0.828373  NaN
min      1.000000    0.020000   76.870772    8.600556    4.700000  NaN
25%     54.500000    0.050000   76.871945    8.601069    6.300000  NaN
50%    102.000000    0.100000   76.872091    8.602396    6.600000  NaN
75%    149.500000    0.150000   76.877173    8.612823    7.300000  NaN
max    197.000000    1.000000   76.877836    8.655582    7.900000  NaN

In [17]:
df.columns

Index(['id', 'sample_no', 'farmername', 'LandArea', 'DagNo', 'SurveyNo',
       'longitude', 'Latitude', 'pH', 'EC', 'OC', 'N', 'P', 'K', 'S', 'Zn',
       'Fe', 'Cu', 'Mn', 'B'],
      dtype='object')

In [18]:
df.nunique()

id            191
sample_no      67
farmername    173
LandArea       29
DagNo          33
SurveyNo       46
longitude      49
Latitude       52
pH             24
EC             31
OC             48
N               0
P              55
K              61
S              58
Zn             44
Fe             58
Cu             43
Mn             59
B              34
dtype: int64

In [7]:
df.isnull().sum()

id              0
sample_no       0
farmername      0
LandArea       13
DagNo         141
SurveyNo        0
longitude       0
Latitude        0
pH              0
EC              0
OC              0
N             191
P               0
K               0
S               0
Zn              0
Fe              0
Cu              0
Mn              0
B               0
dtype: int64

In [8]:
df_new=df.fillna(1)
df_new

,id,sample_no,farmername,LandArea,DagNo,SurveyNo,longitude,Latitude,pH,EC,OC,N,P,K,S,Zn,Fe,Cu,Mn,B
0,1,KL628508/2018-19/133011799,RAFEEK,0.05,0,0,76.872091,8.601069,7.3,0.13000 N,2.76000 VH,1.0,88.38000 H,232.51000 M,24.10000 S,2.15000 S,36.25000 S,1.49000 S,9.24000 S,0.58000 S
1,2,KL628508/2018-19/133209765,SABEENA,0.18,1,182,76.871945,8.600833,6.3,0.12000 N,0.71000 M,1.0,88.48000 H,56.00000 VL,1.15000 D,1.42000 S,25.03000 S,2.56000 S,8.65000 S,0.68000 S
2,3,KL628508/2018-19/133011799,ABDUL SALAAM,0.10,1,0,76.872091,8.601069,7.3,0.13000 N,2.76000 VH,1.0,88.38000 H,232.51000 M,24.10000 S,2.15000 S,36.25000 S,1.49000 S,9.24000 S,0.58000 S
3,4,KL628508/2018-19/133143015,OMANA G M,0.05,1,181,76.872091,8.601069,7.9,0.05000 N,1.56000 VH,1.0,49.39000 M,72.35000 L,12.75000 S,2.15000 S,50.19000 S,1.63000 S,6.38000 S,0.94000 S
4,5,KL628508/2018-19/132917797,BASHEER,0.15,4,187,76.876897,8.602396,7.3,0.08000 N,0.99000 H,1.0,94.24000 VH,160.50000 M,49.94000 S,1.77000 S,15.24000 S,2.41000 S,8.65000 S,0.68000 S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,193,KL628508/2018-19/137032800,VINITHA,0.12,1,Aug-57,76.877469,8.620079,5.6,0.14000 N,1.25000 VH,1.0,42.31000 M,178.39000 M,12.68000 S,2.15000 S,54.63000 S,1.36000 S,11.12000 S,1.62000 S
187,194,KL628508/2018-19/137036361,GLORY,0.05,1,113/7,76.877461,8.620087,6.9,0.42000 N,0.57000 M,1.0,46.22000 M,284.04000 M,42.12000 S,2.15000 S,36.54000 S,2.35000 S,16.34000 S,1.62000 S
188,195,KL628508/2018-19/137035420,SAJITHA,0.10,1,97/1,76.877464,8.620084,5.2,0.19000 N,1.76000 VH,1.0,36.47000 M,378.90000 H,14.22000 S,4.18000 S,36.54000 S,2.35000 S,8.26000 S,1.62000 S
189,196,KL628508/2018-19/137992490,RASIYA,0.04,1,96/4,76.877452,8.620099,6.2,0.14000 N,0.87000 H,1.0,36.58000 M,187.49000 M,16.85000 S,3.65000 S,47.23000 S,2.35000 S,12.18000 S,0.58000 S
190,197,KL628508/2018-19/137990793,AMBILI,0.05,1,121,76.877452,8.620090,5.8,0.12000 N,0.76000 H,1.0,24.52000 M,136.24000 L,8.69000 D,3.62000 S,42.18000 S,2.47000 S,6.23000 S,0.62000 S

In [17]:
df_new.isnull().sum()

id            0
sample_no     0
farmername    0
LandArea      0
DagNo         0
SurveyNo      0
longitude     0
Latitude      0
pH            0
EC            0
OC            0
N             0
P             0
K             0
S             0
Zn            0
Fe            0
Cu            0
Mn            0
B             0
dtype: int64

In [9]:
#droping the redendant data
df=df_new.drop(['DagNo','N'],axis=1)

In [10]:
df

,id,sample_no,farmername,LandArea,SurveyNo,longitude,Latitude,pH,EC,OC,P,K,S,Zn,Fe,Cu,Mn,B
0,1,KL628508/2018-19/133011799,RAFEEK,0.05,0,76.872091,8.601069,7.3,0.13000 N,2.76000 VH,88.38000 H,232.51000 M,24.10000 S,2.15000 S,36.25000 S,1.49000 S,9.24000 S,0.58000 S
1,2,KL628508/2018-19/133209765,SABEENA,0.18,182,76.871945,8.600833,6.3,0.12000 N,0.71000 M,88.48000 H,56.00000 VL,1.15000 D,1.42000 S,25.03000 S,2.56000 S,8.65000 S,0.68000 S
2,3,KL628508/2018-19/133011799,ABDUL SALAAM,0.10,0,76.872091,8.601069,7.3,0.13000 N,2.76000 VH,88.38000 H,232.51000 M,24.10000 S,2.15000 S,36.25000 S,1.49000 S,9.24000 S,0.58000 S
3,4,KL628508/2018-19/133143015,OMANA G M,0.05,181,76.872091,8.601069,7.9,0.05000 N,1.56000 VH,49.39000 M,72.35000 L,12.75000 S,2.15000 S,50.19000 S,1.63000 S,6.38000 S,0.94000 S
4,5,KL628508/2018-19/132917797,BASHEER,0.15,187,76.876897,8.602396,7.3,0.08000 N,0.99000 H,94.24000 VH,160.50000 M,49.94000 S,1.77000 S,15.24000 S,2.41000 S,8.65000 S,0.68000 S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,193,KL628508/2018-19/137032800,VINITHA,0.12,Aug-57,76.877469,8.620079,5.6,0.14000 N,1.25000 VH,42.31000 M,178.39000 M,12.68000 S,2.15000 S,54.63000 S,1.36000 S,11.12000 S,1.62000 S
187,194,KL628508/2018-19/137036361,GLORY,0.05,113/7,76.877461,8.620087,6.9,0.42000 N,0.57000 M,46.22000 M,284.04000 M,42.12000 S,2.15000 S,36.54000 S,2.35000 S,16.34000 S,1.62000 S
188,195,KL628508/2018-19/137035420,SAJITHA,0.10,97/1,76.877464,8.620084,5.2,0.19000 N,1.76000 VH,36.47000 M,378.90000 H,14.22000 S,4.18000 S,36.54000 S,2.35000 S,8.26000 S,1.62000 S
189,196,KL628508/2018-19/137992490,RASIYA,0.04,96/4,76.877452,8.620099,6.2,0.14000 N,0.87000 H,36.58000 M,187.49000 M,16.85000 S,3.65000 S,47.23000 S,2.35000 S,12.18000 S,0.58000 S
190,197,KL628508/2018-19/137990793,AMBILI,0.05,121,76.877452,8.620090,5.8,0.12000 N,0.76000 H,24.52000 M,136.24000 L,8.69000 D,3.62000 S,42.18000 S,2.47000 S,6.23000 S,0.62000 S

In [ ]:
#relationship analysis